/* Set the background color of the body */
body {
	background-color: #f2f2f2;
}

/* Style the header */
.header {
	background-color: #333;
	color: rgb(255, 255, 255);
	padding: 20px;
	text-align: center;
}

/* Style the search bar */
#search-bar {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
}

/* Style the container */
.container {
	display: flex;
	justify-content: center;
	margin: 25px;
	background-color: #333;
}

/* Style the champion grid */
.champion-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	padding: 20px;
}